.main-page {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px; 
}

.block-form, .block-messages {
    width: 100%; 
    margin-bottom: 20px; 
}

.form {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.form input[type=text], .form input[type=email], .form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

.form button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

.form button:hover {
    background-color: #45a049; 
}

.block-messages h2 {
    margin-bottom: 10px; 
}

.block-messages ul {
    list-style-type: none; 
    padding: 0; 
}

.block-messages li {
    background-color: #fff; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

@media (max-width: 768px) {
    .form input[type=text], .form input[type=email], .form textarea {
        width: calc(100% - 20px);
        padding: 8px; 
    }
}